<footer class="docs-footer">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
        <img class="docs-footer-mindofutures-logo"
          src="../../../../assets/img/homepage/MindoFutures.svg"
          alt="mindofutures">
        <span><a href="http://mindofutures.org/">Mindo Futures</a></span>
        <span>A non-profit organization.</span>
      </div>
    </div>
    <div class="docs-footer-copyright">
      <span>Developed and designed</span>
      <span>by David R. Bustos 2019.</span>
    </div>
    <div class="docs-footer-social">
      <div class="widget_content social-widget">
        <a href="https://www.facebook.com/MindoFutures">
          <img class="docs-footer-facebook-logo"
            src="../../../../assets/img/homepage/facebook-logo.svg"
            alt="facebook">
        </a>
        <a href="https://www.instagram.com/MindoFutures">
          <img class="docs-footer-instagram-logo"
            src="../../../../assets/img/homepage/instagram-logo.svg"
            alt="instagram">
        </a>
        <a href="https://twitter.com/mindofutures">
          <img class="docs-footer-twitter-logo"
            src="../../../../assets/img/homepage/twitter-logo.svg"
            alt="twitter">
        </a>
        <a href="https://vimeo.com/mindofutures">
          <img class="docs-footer-vimeo-logo"
            src="../../../../assets/img/homepage/vimeo-logo.svg"
            alt="vimeo">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <header>
      <div class="row">
        
      </div>
    </header>
  </div>
</footer>
