a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    border-radius: 3px;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.app-navbar .mat-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

.navbar-menu{
    margin-left: auto;
}

.docs-mindofutures-logo {
    height: 26px;
    margin: 0 3px 16px 0;
    vertical-align: middle;
}