<mat-toolbar color="primary">
    <a mat-button class="docs-button" routerLink="/home" aria-label="Mindo Futures">
        <img class="docs-mindofutures-logo"
            src="../../../../assets/img/homepage/MindoFutures.svg"
            alt="mindofutures">
        <span>Mindo Futures</span>
    </a>
    <div class="navbar-menu">
        <ul class="navigation-items">
            <li>
                <button mat-button (click)="openLoginDialog()" color="prymary"><mat-icon>account_circle</mat-icon> Log in</button>
            </li>
        </ul>
  </div>
</mat-toolbar>
